In [86]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import statistics
import seaborn as sns

In [2]:
credit_data = pd.read_csv("train.csv")
credit_data.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,AnnualIncome,Monthly_Inhand_Salary,Num_Bank_Accounts,...,CreditMix,OutstandingDebt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629163,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [3]:
credit_data.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int64
SSN                          object
Occupation                   object
AnnualIncome                float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
NumofLoan                     int64
Type_of_Loan                 object
Delay_from_due_date           int64
NumofDelayedPayment         float64
ChangedCreditLimit          float64
Num_Credit_Inquiries        float64
CreditMix                    object
OutstandingDebt             float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [4]:
credit_data.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                          5572
Occupation                   7062
AnnualIncome                    0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
NumofLoan                       0
Type_of_Loan                11408
Delay_from_due_date             0
NumofDelayedPayment          7002
ChangedCreditLimit           2091
Num_Credit_Inquiries         1965
CreditMix                   20195
OutstandingDebt                 0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount       12007
Total_EMI_per_month             0
Amount_invested_monthly      8784
Payment_Behaviour            7600
Monthly_Balance              1209
Credit_Score                    0
dtype: int64

In [5]:
for i in range (len(credit_data.NumofDelayedPayment)):
    if credit_data.NumofDelayedPayment.iloc[i]>40:
        credit_data.NumofDelayedPayment.iloc[i]=np.nan

In [6]:
for i in range (len(credit_data.Num_Credit_Inquiries)):
    if credit_data.Num_Credit_Inquiries.iloc[i]>20:
        credit_data.Num_Credit_Inquiries.iloc[i]=np.nan

In [7]:
for i in range (len(credit_data.Age)):
    if credit_data.Age.iloc[i]>80:
        credit_data.Age.iloc[i]=np.nan

In [8]:
for i in range (len(credit_data.Num_Bank_Accounts)):
    if credit_data.Num_Bank_Accounts.iloc[i]>10:
        credit_data.Num_Bank_Accounts.iloc[i]=np.nan

In [9]:
for i in range (len(credit_data.Num_Credit_Card)):
    if credit_data.Num_Credit_Card.iloc[i]>10:
        credit_data.Num_Credit_Card.iloc[i]=np.nan

In [10]:
for i in range (len(credit_data.Interest_Rate)):
    if credit_data.Interest_Rate.iloc[i]>40:
        credit_data.Interest_Rate.iloc[i]=np.nan

In [11]:
for i in range (len(credit_data.NumofLoan)):
    if credit_data.NumofLoan.iloc[i]>10 or credit_data.NumofLoan.iloc[i]==0:
        credit_data.NumofLoan.iloc[i]=np.nan

In [12]:
for i in range (len(credit_data.Total_EMI_per_month)):
    if credit_data.Total_EMI_per_month.iloc[i]==0:
        credit_data.Total_EMI_per_month.iloc[i]=np.nan

In [13]:
credit_data.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                          2781
SSN                          5572
Occupation                   7062
AnnualIncome                    0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts            1324
Num_Credit_Card              2307
Interest_Rate                2034
NumofLoan                   15278
Type_of_Loan                11408
Delay_from_due_date             0
NumofDelayedPayment          7738
ChangedCreditLimit           2091
Num_Credit_Inquiries         3615
CreditMix                   20195
OutstandingDebt                 0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount       12007
Total_EMI_per_month         10613
Amount_invested_monthly      8784
Payment_Behaviour            7600
Monthly_Balance              1209
Credit_Score                    0
dtype: int64

In [14]:
credit_data.Name = credit_data.Name.where(pd.notnull(credit_data.Name), None)

In [15]:
credit_data.CreditMix = credit_data.CreditMix.where(pd.notnull(credit_data.CreditMix), None)

In [16]:
credit_data.CreditMix

0        None
1        Good
2        Good
3        Good
4        Good
         ...
99995    None
99996    None
99997    Good
99998    Good
99999    Good
Name: CreditMix, Length: 100000, dtype: object

In [17]:
gcid=credit_data.groupby(('Customer_ID'),as_index=False)

## Imputing Name

In [18]:
name_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Name.isnull().sum()>0:
        count=0
        for i in range(len(item.Name)):
            if item.Name.iloc[i] is not None:
                count=1
                impute_name = item.Name.iloc[i]
                break
        if count:
            for i in range(len(item.Name)):
                if item.Name.iloc[i] is None:
                    item.Name.iloc[i] = impute_name
        else:
            flag=1
            
    if not flag:
        name_df = pd.concat([name_df,item])
#print(name_df)

In [19]:
name_df.to_csv("Output_1.csv")

## Imputing Age

In [22]:
age_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Age.isnull().sum()>0:
        count=0
        for i in range(len(item.Age)):
            if not np.isnan(item.Age.iloc[i]):
                count=1
                impute_age = item.Age.iloc[i]
                break
        if count:
            for i in range(len(item.Age)):
                if np.isnan(item.Age.iloc[i]):
                    item.Age.iloc[i] = impute_age
        else:
            item.Age.iloc[i]=np.nan
            
    
    age_df = pd.concat([age_df,item])
#print(age_df)

In [23]:
age_df.to_csv("Output_2_Age.csv")

In [24]:
age_df.Age.isnull().sum()

0

## Imputing SSN

In [25]:
credit_data.SSN = credit_data.SSN.where(pd.notnull(credit_data.SSN), None)

In [26]:
ssn_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.SSN.isnull().sum()>0:
        count=0
        for i in range(len(item.SSN)):
            if item.SSN.iloc[i] is not None:
                count=1
                impute_ssn = item.SSN.iloc[i]
                break
        if count:
            for i in range(len(item.SSN)):
                if item.SSN.iloc[i] is None:
                    item.SSN.iloc[i] = impute_ssn
        else:
            item.SSN.iloc[i]=None
            
    
    ssn_df = pd.concat([ssn_df,item])
#print(ssn_df)

In [27]:
ssn_df.to_csv("Output_3_SSN.csv")

In [28]:
ssn_df.SSN.isnull().sum()

0

## Imputing Occupation

In [29]:
credit_data.Occupation = credit_data.Occupation.where(pd.notnull(credit_data.Occupation), None)

In [30]:
occupation_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Occupation.isnull().sum()>0:
        count=0
        for i in range(len(item.Occupation)):
            if item.Occupation.iloc[i] is not None:
                count=1
                impute_occupation = item.Occupation.iloc[i]
                break
        if count:
            for i in range(len(item.Occupation)):
                if item.Occupation.iloc[i] is None:
                    item.Occupation.iloc[i] = impute_occupation
        else:
            item.Occupation.iloc[i]=None
            
    
    occupation_df = pd.concat([occupation_df,item])
#print(occupation_df)

In [31]:
occupation_df.Occupation.isnull().sum()

0

In [32]:
occupation_df.to_csv("Output_4_Occupation.csv")

## Imputing Monthly Inhand Salary

In [33]:
inhand_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Monthly_Inhand_Salary.isnull().sum()>0:
        count=0
        for i in range(len(item.Monthly_Inhand_Salary)):
            if not np.isnan(item.Monthly_Inhand_Salary.iloc[i]):
                count=1
                impute_inhand = item.Monthly_Inhand_Salary.iloc[i]
                break
        if count:
            for i in range(len(item.Monthly_Inhand_Salary)):
                if np.isnan(item.Monthly_Inhand_Salary.iloc[i]):
                    item.Monthly_Inhand_Salary.iloc[i] = impute_inhand
        else:
            item.Monthly_Inhand_Salary.iloc[i]=np.nan
            
    
    inhand_df = pd.concat([inhand_df,item])
#print(inhand_df)

In [34]:
inhand_df.Monthly_Inhand_Salary.isnull().sum()

0

In [35]:
inhand_df.to_csv("Output_5_Inhand_Salary.csv")

## Imputing Number of bank accounts

In [36]:
bank_acc_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Num_Bank_Accounts.isnull().sum()>0:
        count=0
        for i in range(len(item.Num_Bank_Accounts)):
            if not np.isnan(item.Num_Bank_Accounts.iloc[i]):
                count=1
                impute_bank_acc = item.Num_Bank_Accounts.iloc[i]
                break
        if count:
            for i in range(len(item.Num_Bank_Accounts)):
                if np.isnan(item.Num_Bank_Accounts.iloc[i]):
                    item.Num_Bank_Accounts.iloc[i] = impute_bank_acc
        else:
            item.Num_Bank_Accounts.iloc[i]=np.nan
            
    
    bank_acc_df = pd.concat([bank_acc_df,item])
#print(age_df)

In [37]:
bank_acc_df.to_csv("Output_6_Bank_Account.csv")

In [38]:
bank_acc_df.Num_Bank_Accounts.isnull().sum()

0

## Imputing Number of Credit Cards

In [39]:
credit_card_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Num_Credit_Card.isnull().sum()>0:
        count=0
        for i in range(len(item.Num_Credit_Card)):
            if not np.isnan(item.Num_Credit_Card.iloc[i]):
                count=1
                impute_credit_card = item.Num_Credit_Card.iloc[i]
                break
        if count:
            for i in range(len(item.Num_Credit_Card)):
                if np.isnan(item.Num_Credit_Card.iloc[i]):
                    item.Num_Credit_Card.iloc[i] = impute_credit_card
        else:
            item.Num_Credit_Card.iloc[i]=np.nan
            
    
    credit_card_df = pd.concat([credit_card_df,item])
#print(age_df)

In [40]:
bank_acc_df.to_csv("Output_7_Credit_Card.csv")

In [41]:
bank_acc_df.Num_Credit_Card.isnull().sum()

2307

## Imputing Interest Rates

In [42]:
interest_rate_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Interest_Rate.isnull().sum()>0:
        count=0
        for i in range(len(item.Interest_Rate)):
            if not np.isnan(item.Interest_Rate.iloc[i]):
                count=1
                impute_interest_rate = item.Interest_Rate.iloc[i]
                break
        if count:
            for i in range(len(item.Interest_Rate)):
                if np.isnan(item.Interest_Rate.iloc[i]):
                    item.Interest_Rate.iloc[i] = impute_interest_rate
        else:
            item.Interest_Rate.iloc[i]=np.nan
            
    
    interest_rate_df = pd.concat([interest_rate_df,item])
#print(age_df)

In [43]:
interest_rate_df.to_csv("Output_8_Interest_Rate.csv")

In [44]:
interest_rate_df.Interest_Rate.isnull().sum()

0

## Imputing Number of Loans

In [45]:
numofloan_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.NumofLoan.isnull().sum()>0:
        count=0
        for i in range(len(item.NumofLoan)):
            if not np.isnan(item.NumofLoan.iloc[i]):
                count=1
                impute_num_loan = item.NumofLoan.iloc[i]
                break
        if count:
            for i in range(len(item.NumofLoan)):
                if np.isnan(item.NumofLoan.iloc[i]):
                    item.NumofLoan.iloc[i] = impute_num_loan
        else:
            item.NumofLoan.iloc[i]=np.nan
            
    
    numofloan_df = pd.concat([numofloan_df,item])
#print(age_df)

In [46]:
numofloan_df.to_csv("Output_9_Num_Of_Loan.csv")

In [47]:
numofloan_df.NumofLoan.isnull().sum()

11408

## Imputing Type of Loan

In [48]:
credit_data.Type_of_Loan = credit_data.Type_of_Loan.where(pd.notnull(credit_data.Type_of_Loan), None)

In [49]:
loan_df = pd.DataFrame()
for key, item in gcid:
    flag=0
    ## Imputing Name
    if item.Type_of_Loan.isnull().sum()>0:
        count=0
        for i in range(len(item.Type_of_Loan)):
            if item.Type_of_Loan.iloc[i] is not None:
                count=1
                impute_loan = item.Type_of_Loan.iloc[i]
                break
        if count:
            for i in range(len(item.Type_of_Loan)):
                if item.Type_of_Loan.iloc[i] is None:
                    item.Type_of_Loan.iloc[i] = impute_loan
        else:
            item.Type_of_Loan.iloc[i]=None
            
    
    loan_df = pd.concat([loan_df,item])
#print(loan_df)

In [50]:
loan_df.Type_of_Loan.isnull().sum()

11408

In [51]:
### Type of loan has all None

In [52]:
loan_df.to_csv("Output_10_Loan_Type.csv")

## Imputing Num of Delayed Payments

In [53]:
delayed_df=pd.DataFrame()
for key, item in gcid:
    if item.NumofDelayedPayment.isnull().sum()>0:                
        item.NumofDelayedPayment = item.NumofDelayedPayment.fillna(item.NumofDelayedPayment.median())
        
    delayed_df = pd.concat([delayed_df,item])
#delayed_df

In [54]:
delayed_df.NumofDelayedPayment.isnull().sum()

0

In [55]:
delayed_df.to_csv("Output_11_Delayed_Payment.csv")

## Imputing Changed Credit Limit

In [56]:
credit_change_df=pd.DataFrame()
for key, item in gcid:
    if item.ChangedCreditLimit.isnull().sum()>0:                
        item.ChangedCreditLimit = item.ChangedCreditLimit.fillna(item.ChangedCreditLimit.median())
        
    credit_change_df = pd.concat([credit_change_df,item])
#credit_change_df

In [57]:
credit_change_df.ChangedCreditLimit.isnull().sum()

0

In [58]:
credit_change_df.to_csv("Output_12_Credit_Change.csv")

## Imputing Num Credit Inquiries

In [59]:
credit_df=pd.DataFrame()
for key, item in gcid:
    if item.Num_Credit_Inquiries.isnull().sum()>0:                
        item.Num_Credit_Inquiries = item.Num_Credit_Inquiries.fillna(item.Num_Credit_Inquiries.median())
        
    credit_df = pd.concat([credit_df,item])
#credit_df

In [60]:
credit_df.Num_Credit_Inquiries.isnull().sum()

0

In [61]:
credit_df.to_csv("Output_13_Credit_Inquiries.csv")

## Imputing Credit Mix

In [62]:
credit_mix_df=pd.DataFrame()
for key, item in gcid:
    if item.CreditMix.isnull().sum()>0:    
        #print(item.CreditMix)
        #print("dhshsv")
        item.CreditMix = item.CreditMix.fillna(item.CreditMix.mode().iloc[0])
        
    credit_mix_df = pd.concat([credit_mix_df,item])
#credit_mix_df

In [63]:
credit_mix_df.CreditMix.isnull().sum()

0

In [64]:
credit_mix_df.to_csv("Output_14_Credit_Mix.csv")

## Imputing Payment of minimum amount

In [67]:
payment_amount_df=pd.DataFrame()
for key, item in gcid:
    if item.Payment_of_Min_Amount.isnull().sum()>0:    
        #print(item.CreditMix)
        #print("dhshsv")
        item.Payment_of_Min_Amount = item.Payment_of_Min_Amount.fillna(item.Payment_of_Min_Amount.mode().iloc[0])
        
    payment_amount_df = pd.concat([payment_amount_df,item])
#payment_amount_df

In [68]:
payment_amount_df.Payment_of_Min_Amount.isnull().sum()

0

In [69]:
payment_amount_df.to_csv("Output_15_Payment_Amount.csv")

## Imputing Total EMI per month

In [70]:
total_emi_df=pd.DataFrame()
for key, item in gcid:
    if item.Total_EMI_per_month.isnull().sum()>0:                
        item.Total_EMI_per_month = item.Total_EMI_per_month.fillna(item.Total_EMI_per_month.median())
        
    total_emi_df = pd.concat([total_emi_df,item])
#amount_invested_df

In [71]:
total_emi_df.to_csv("Output_16_Total_EMI.csv")

In [72]:
total_emi_df.Total_EMI_per_month.isnull().sum()

7992

## Imputing Amount Invested Monthly

In [73]:
amount_invested_df=pd.DataFrame()
for key, item in gcid:
    if item.Amount_invested_monthly.isnull().sum()>0:                
        item.Amount_invested_monthly = item.Amount_invested_monthly.fillna(item.Amount_invested_monthly.median())
        
    amount_invested_df = pd.concat([amount_invested_df,item])
#amount_invested_df

In [74]:
amount_invested_df.Amount_invested_monthly.isnull().sum()

0

In [75]:
amount_invested_df.to_csv("Output_17_Amount_Invested.csv")

## Imputing Payment Behaviour

In [76]:
payment_behaviour_df=pd.DataFrame()
for key, item in gcid:
    if item.Payment_Behaviour.isnull().sum()>0:    
        item.Payment_Behaviour = item.Payment_Behaviour.fillna(item.Payment_Behaviour.mode().iloc[0])
        
    payment_behaviour_df = pd.concat([payment_behaviour_df,item])
#payment_behaviour_df

In [77]:
payment_behaviour_df.Payment_Behaviour.isnull().sum()

0

In [78]:
payment_behaviour_df.to_csv("Output_18_Payment_Behaviour.csv")

## Imputing Monthly Balance

In [79]:
monthly_balance_df=pd.DataFrame()
for key, item in gcid:
    if item.Monthly_Balance.isnull().sum()>0:                
        item.Monthly_Balance = item.Monthly_Balance.fillna(item.Monthly_Balance.mean())
        
    monthly_balance_df = pd.concat([monthly_balance_df,item])
#monthly_balance_df

In [80]:
monthly_balance_df.Monthly_Balance.isnull().sum()

0

In [81]:
monthly_balance_df.to_csv("Output_19_Monthly_Balance.csv")

## Final dataframe

In [92]:
credit_data1=pd.read_csv("Output_1_1.csv")

In [93]:
credit_data1.shape

(100000, 25)

In [94]:
credit_data1.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Age                             0
Occupation                      0
AnnualIncome                    0
Monthly_Inhand_Salary           0
Num_Bank_Accounts            1324
Num_Credit_Card              2307
Interest_Rate                   0
NumofLoan                   11408
Type_of_Loan                11408
Delay_from_due_date             0
NumofDelayedPayment             0
ChangedCreditLimit              0
Num_Credit_Inquiries            0
CreditMix                       0
OutstandingDebt                 0
Credit_Utilization_Ratio        0
Payment_of_Min_Amount           0
Total_EMI_per_month          7992
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance                 0
Credit_Score                    0
dtype: int64

In [95]:
credit_data1 = credit_data1.dropna()

In [96]:
credit_data1.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Age                         0
Occupation                  0
AnnualIncome                0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
NumofLoan                   0
Type_of_Loan                0
Delay_from_due_date         0
NumofDelayedPayment         0
ChangedCreditLimit          0
Num_Credit_Inquiries        0
CreditMix                   0
OutstandingDebt             0
Credit_Utilization_Ratio    0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

## Drop certain columns

In [97]:
credit_data1.to_csv("Final_Output_Part1.csv")

In [98]:
credit_data1.shape

(85431, 25)